@import '/styles/variables.scss';

.content {
  background: ghostwhite;
  height: 100%;
  padding: 3% 9%;

  .cardZone {
    display: flex;
    flex-wrap: wrap;
  }

  .title {
    font-size: 25px;
    color: $primary;
    padding: 30px 0;
  }
}

@media only screen and (max-width: 768px) {
  .content {
    padding: 3% 2%;
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .content {
    // padding: 0;
    padding-left: 40px;
  }
}
