@import 'styles/variables.scss';

.container {
  padding: 15px 0 0 0;

  p {
    font-weight: 600;
  }

  .active {
    background: $primary;
    color: #fff;
  }

  ul {
    padding: 18px 0 0 0;
    display: flex;

    li {
      color: $primary;
      font-weight: bold;
      list-style: none;
      height: 40px;
      width: 100%;
      padding: 6px 7px;
      margin: 0 6px 0 0;
      text-align: center;
      border-radius: 4px;
      background: ghostwhite;

      &:hover {
        cursor: pointer;
      }
    }
  }
}
