@import '/styles/variables.scss';

.root {
  box-shadow: 3px 9px 20px rgba(0, 0, 0, 0.05);
  background: #fff;
  width: 47%;
  margin: 0 20px 45px 0;

  &:hover {
    transform: scale(1.01);
    cursor: pointer;
    transition: all 0.3s ease-in;
  }

  .border {
    border-bottom: 2px solid $primary;
    width: 120px;
  }

  .articleTitle {
    font-size: 16px;
    color: $primary;
    padding: 2% 0;
  }

  .details {
    padding: 3% 4%;
    font-size: 18px;

    .latter {
      display: flex;
      justify-content: space-between;
    }

    & span {
      font-size: 13px;
      padding: 3% 0;
      white-space: nowrap;
    }

    .projBody {
      height: 160px;
      padding-top: 2%;
      margin: 3% 0;
    }

    .projLink {
      text-decoration: underline;
      padding: 1% 0;
      &:hover {
        cursor: pointer;
      }
    }

    .author {
      margin-top: 3%;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
  .root {
    font-size: 10px;
    width: 100%;
    height: 350px;
    margin: 0 0 26px 0;
  }

  .details {
    .title {
      font-size: 18px;
    }
    & span {
      font-size: 10px;
    }
    & .projLink {
      margin-top: 4%;
    }
    & .projBody {
      height: 165px;
      font-size: 14px;
    }
    .author {
      margin-top: 8%;
    }
    .articleTitle {
      font-size: 16px;
    }
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  .root {
    width: 45%;
  }
}

@media only screen and (min-width: 768px) {
  .root {
    font-size: 10px;
  }

  .projBody {
    height: 200px;
    font-size: 14px;
    font-size: 15px !important;
  }

  .author {
    margin-top: 12%;
  }
}
