.root {
  background: rgba(225, 18, 51);
  height: 100%;
  padding: 2% 40%;

  .copyright {
    margin: 0 -12%;

    p {
      color: #fff;
      font-size: 16px;
      padding-top: 3%;
      width: 100%;
    }
  }
  a {
    text-decoration: underline;
  }
}
@media only screen and (max-width: 768px) {
  .root {
    padding: 4%;

    .copyright {
      margin: 0 1%;

    }
  }
}
