.content {
  background: ghostwhite;
  height: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 3% 9%;
  padding-bottom: 8%;
}
.border {
  border-bottom: 2px solid rgba(225, 18, 51);
  width: 120px;
}
.articleTitle {
  font-size: 19px;
  color: rgba(225, 18, 51);
  padding: 2% 0;
}
.cardZone {
  margin: 1% 0;
  padding: 0 2%;
  display: flex;
  flex-wrap: wrap;
}
.details {
  padding: 3% 4%;
  font-size: 18px;
  .latter {
    display: flex;
    justify-content: space-between;
  }
  & span {
    font-size: 13px;
    padding: 3% 0;
  }
  .projBody {
    height: 160px;
    padding-top: 2%;
    margin: 3% 0;
  }
  .projLink {
    text-decoration: underline;
    padding: 1% 0;
    &:hover {
      cursor: pointer;
    }
  }
  .author {
    margin-top: 3%;
  }
}
.title {
  font-size: 25px;
  color: rgba(225, 18, 51);
}
@media only screen and (max-width: 768px) {
  .details {
    .title {
      font-size: 18px;
    }
    & span {
      font-size: 10px;
    }
    & .projLink {
      margin-top: 4%;
    }
    & .projBody {
      height: 165px;
      font-size: 14px;
    }
    .author {
      margin-top: 8%;
    }
    .articleTitle {
      font-size: 16px;
    }
  }
  .content {
    padding: 3% 2%;
  }
}
@media screen and (min-width: 769px) {
  .projBody {
    font-size: 15px !important;
  }
}
