.root {
  width: 488px;
  margin: 3% 0;
  box-shadow: 3px 9px 20px rgba(0, 0, 0, 0.05);
  background: #fff;
  &:hover {
    transform: scale(1.01);
    cursor: pointer;
    transition: all .3s ease-in;
  }
}
@media only screen and (max-width: 768px) {
  .root {
    font-size: 10px;
    width: 100%;
  }
}
@media only screen and (min-width: 768px) {
  .root {
    font-size: 10px;
  }
}
