@import '/styles/variables.scss';

#headCont {
  height: 680px;
  background: $eerie-black;

  header {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    color: #fff;
    padding: 10px 0;
    font-size: 17px;
    background: $jet;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
  }
}
.brand {
  height: 35px;
  & h3 {
    font-weight: 300;
  }
}
.navLinks ul {
  display: flex;
  li {
    // text-align: center;
    padding: 0 9px;
    list-style-type: none;
    &:hover {
      border-bottom: 1px solid $primary;
      color: $primary;
      transition: all 0.3s ease-in;
      cursor: pointer;
    }
  }
}
.hero {
  display: flex;
  justify-content: space-between;
  padding: 6% 5%;
  color: #fff;

  // .hero_text {
  //   border: 1px solid red;
  //   width:
  // }

  p {
    font-size: 60px;
    font-weight: 700;
    line-height: 90px;
    width: 120%;
    height: 300px;
    color: ghostwhite;
    margin: 180px 0 0 0;

    & span {
      color: $primary;
    }
  }

  .illustration {
    height: 600px;
    width: 800px;

    img {
      height: 100%;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 0px) and (max-width: 576px) {
  #headCont {
    height: 70%;
  }
  .hero {
    padding: 5% 3%;
    padding-bottom: 0;
    flex-flow: column;

    & p {
      font-size: 40px;
      line-height: 50px;
      width: 95%;
    }

    .illustration {
      width: 100%;
      margin-top: -100px;
    }
  }
}

@media only screen and (min-width: 577px) and (max-width: 992px) {
  #headCont {
    height: 100%;
  }
  .hero {
    padding: 5% 3%;

    & p {
      font-size: 40px;
      line-height: 50px;
      width: 95%;
    }

    .illustration {
      padding: 60px 0 0 0;
    }
  }
}
